body {
  margin: 0;
  font-family: system-ui;
}

section {
  height: 100vh; /* Altura del viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seccion.bienvenida {

  position: relative; /* Necesario para posicionar las partículas */
  overflow: hidden; /* Para evitar que las partículas se salgan del contenedor */
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 32%;
}




/* Estilos adicionales para cada sección */
#bienvenida{
  font-size:3rem;
  font-weight: 700;
  line-height:2rem;
  justify-content: center;
  text-align: center;
}
P{
  font-size: 1.5REM;
  font-weight: 200;
  width: auto;
  justify-content: center;
  text-align: center;
  padding: 5%;

}

/* Colores para cada sección */
.seccion.bienvenida {
  background-color: #111111; /* color background */
  color: #fff; /* Blanco para mejor contraste */
}

.seccion.acerca-de {
  background-color: #4CAF50; /* Verde */
  color: #fff;
}

.seccion.portafolio {
  background-color: #ffeb3b; /* Amarillo */
  color: #000;
}

.seccion.contactos {
  background-color: #f06292; /* Rosa */
  color: #fff;
}