body {
  margin: 0;
  font-family: system-ui;
}

section {
  height: 100vh; /* Altura del viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seccion.bienvenida {

  position: relative; /* Necesario para posicionar las partículas */
  overflow: hidden; /* Para evitar que las partículas se salgan del contenedor */
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */


.js-count-particles{
  font-size: 2.1em;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}




/* Estilos adicionales para cada sección */
#bienvenida{
  font-size:3rem;
  font-weight: 700;
  line-height:2rem;
  justify-content: center;
  text-align: center;
}
P{
  font-size: 1.5REM;
  font-weight: 200;
  width: auto;
  justify-content: center;
  text-align: center;
  

}

/* Colores para cada sección */
.seccion.bienvenida {
  background-color: #111111; /* color background */
  color: #fff; /* Blanco para mejor contraste */
}

.seccion.acerca-de {
  background-color: #4CAF50; /* Verde */
  color: #fff;
}

.seccion.portafolio {
  background-color: #ffeb3b; /* Amarillo */
  color: #000;
}

.seccion.contactos {
  background-color: #f06292; /* Rosa */
  color: #fff;
}